.contact-cont{
    display: flex;
    height: 80vh;
    justify-content: end;
    margin-bottom: 100px;
  }
.contact-box1{
    flex: 0.5;
    display: grid;
    position: absolute;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50% 50% ;
    column-gap: 20px;
    row-gap: 20px;
    left: 280px;
    top: 150px;
    z-index: 1;
}

.contact-box1 div{
    border: 1px solid black;
    background-color: black;
     text-align: center;
     line-height: 25px;
     padding: 10px;
     overflow: hidden;
    
     overflow-wrap: break-word; 
   
}
.fa-location-dot{
    color: white;
    display: block;
}
.contact-box2{
    position: relative;
    right: 100px;
    background: radial-gradient(circle,  rgba(145, 136, 134, 0.736) , black 200%);
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


textarea{
    position: relative;
    top: 20px;
}

.fa-phone{
    color: white;
}


.fa-fax{
    color: white;
}

.fa-envelope{
    color: white;
}

@media screen and (max-width: 1000px) {


    .contact-cont{
    display: block;
    margin-top: 100px;
    }
    .contact-box1{
        position: static;
        
        margin-bottom: 100px;
         
    }

    .contact-box2{
        position: static;
       margin-bottom: 300px;
      
    }

    .section-6{
        margin-top: 200px;
    }

}