.flex-cont{
  margin-top: 100px;
    display: flex;
    gap:50px;
    margin-bottom: 100px;
  }

.box-11{
    flex:0.25;
    position: relative;
    left:20px;
}

.box-21{
    flex:0.75;
}

.list-ele{
    position: relative;
    left:25px;
    top: 10px;
  }


.box-21 h1{
    text-decoration: underline;
}  




@media screen and (max-width: 960px) {

}

@media only screen and (max-width: 320px) {
  .flex-cont{
    display: flex;
    flex-direction: column;
    
  }
  .box-11 img{
    height: 80%;
    width: 80%;
  }

}


@media only screen and (min-width: 320px) and (max-width: 465px) {

  .flex-cont{
    display: flex;
    flex-direction: column;
  }
  .box-11 img{
    height: 80%;
    width: 80%;
  }

}



@media only screen and (min-width: 466px) and (max-width: 768px) {


   .flex-cont{
    display: flex;
    flex-direction: column;
  }
  /* Styles for large smartphones and small tablets */
}